{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load initials_avatar %}
{% load thumbnail %}
{% load bootstrap_icons %}
{% block menu %}
    <input type="button" class="btn-gray" onclick="history.back();" value="&#8592 {% trans "Назад" %}"/>
    {% for theme in exercise.theme_exercise.all %}
        {% include 'partial-school/navigation/current-theme-in-navbar.html' %}
    {% endfor %}
    {% for theme in exercise.theme_homework.all %}
        {% include 'partial-school/navigation/current-theme-in-navbar.html' %}
    {% endfor %}
    <div class="create_task ml-2">
        <a href="{% url 'task_create' exercise.id %}" class="btn-blue btn-gray">{% trans 'Добавить задание' %}</a>
    </div>
{% endblock %}
{% block content %}{% block admin-content %}
    <div class="content" style="min-height: calc((100vh - 65px) - 0px);">
        <div class="px-0 container-fluid col-md-10">
            <div class="row">
                <div class="col-sm-10 task-list mx-auto center">
                    <!-- Отображение заданий -->
                    <h2 class="text-center mt-4 exercise-title">{% trans 'Упражнение' %} "{{ exercise.title }}"</h2>
                    {% for task in tasks %}
                        {% include 'partial-school/task-card.html' %}
                    {% endfor %}
                    <br><br>
                </div>
            </div><!-- row -->
        </div> <!-- container -->
    </div>
{% endblock %}{% endblock %}
