{% load static %}
{% load i18n %}
<form method="post" action="{% url 'update-password' user_obj.pk %} ">
    {% csrf_token %}
    <div class="">
        <div class="row g-3" style="margin-top: -57px">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-8">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>{% trans "Пароль" %}</td>
                        <td>
                            <div class="accordion accordion-flush" id="accordionPassword">
                                <div class="accordion-item">
                                    <div class="accordion-header" id="flush-headingPassword">
                                        <button class="btn btn-outline-secondary collapsed my-5"
                                                style="margin-left: -9%; color: inherit" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#flush-collapsePassword"
                                                aria-expanded="false"
                                                aria-controls="flush-collapsePassword">
                                            {% trans "Сменить пароль" %}
                                        </button>
                                    </div>
                                    <div id="flush-collapsePassword" class="accordion-collapse collapse"
                                         aria-labelledby="flush-headingPassword"
                                         data-bs-parent="#accordionPassword">
                                        <div class="accordion-body" style="width: 100%">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td style="border: none">{% trans "Пароль" %}</td>
                                                    <td class="input-group"
                                                        style="border: none">{{ password_form.password }}
                                                    </td>
                                                </tr>
                                                {% include 'partial/modal-windows/password-generator-modal.html' %}
                                                <tr>
                                                    <td style="border: none">{% trans "Подтверждение пароля" %}</td>
                                                    <td style="border: none">{{ password_form.password_confirm }}</td>
                                                </tr>
                                                <tr>
                                                    <td style="border: none"></td>
                                                    <td class="input-group"
                                                        style="border: none">
                                                        <div style="margin-left: 50%">
                                                            <button type="button" class="btn btn-secondary col-xs-12"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#PasswordGeneratorModal">
                                                                {% trans "Сгенерировать" %}
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <input type="submit" class="main-style-button"
                                                   value='{% trans "Сохранить пароль" %}'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>