{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}
{% load initials_avatar %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block title %}Kaif School{% endblock %}
{% block admin-content %}
    {% if user.role == 'Admin' or user.is_superuser is True %}
        <div class="content" style="min-height: calc((100vh - 65px) - 0px);">
            <div class="px-0 container-fluid col-md-10">
                <div class="page-container">
                    {% include 'partial/navigation/menu-users-navigation.html' with page='teachers' %}
                    <div class="col-md-12 my-4 ps-0">
                        {% include 'partial/users-search.html' %}
                    </div>
                    <table class="col-md-12">
                        <tbody>
                        {% for teacher in teachers %}
                            <tr class="user" data-user="{{ teacher.first_name }}" data-id="{{ teacher.pk }}">
                                <td class="pb-2 pe-2 justify-content-start">
                                    {% if teacher.avatar %}
                                        {% thumbnail teacher.avatar "45x45" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}"
                                                 height="{{ im.height }}"
                                                 class="icon-round" alt="account">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img src="{% render_initials_avatar name=teacher.first_name %}"
                                             class="icon-round" alt="Avatar">
                                    {% endif %}
                                </td>
                                <td class="pt-3 col-md-9 justify-content-start">
                                    <div>{{ teacher.first_name }}</div>
                                    <div class="td-inline">
                                        <div class="id-icon">ID</div>
                                        <p class="p-inline"> {{ teacher.pk }}|</p>
                                        <p class="p-inline"> |</p>
                                        <p class="p-inline">{% bs_icon 'envelope-fill' size='1em' color='#a4a4a9' %}</p>
                                        <p class="p-inline">{{ teacher.email }}</p>
                                    </div>
                                </td>
                                <td class="pt-3 col-md-3 justify-content-end">
                                    <a href="{% url 'profile-detail' teacher.pk %}"
                                       class="btn btn-secondary">{% trans "Профайл учителя" %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/users-search.js' %}" defer></script>
{% endblock %}

