{% load static %}
{% load i18n %}
<div class="modal fade" id="DeleteThemeModal" tabindex="-1" aria-labelledby="DeleteThemeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 400px;">
        <div class="modal-content">
            <div class="logout-modal-header modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="auth" style="min-height: fit-content">
                <div class="modal-body auth-block" style="text-align: center">
                    <img src="{% static 'img/Warning-icon.-The-attention-icon.png' %}" alt="smile" class="smile-img">
                    <h2>{% trans "Удалить материал?" %}</h2>
                    <p>{% blocktrans %}Вы уверены, что хотите удалить этот материал?{% endblocktrans %}</p>
                </div>
                <form action="{% url 'theme_delete' theme.pk %}" method="post">
                    {% csrf_token %}
                    <div class="modal-footer" style="border-top: none">
                        <button type="button" class="logout-modal-btn btn btn-secondary" data-bs-dismiss="modal"
                                aria-label="Close">{% trans "Нет" %}
                        </button>
                        <button type="submit" class="logout-modal-btn btn logout-btn"
                                style="background-color: #33ccff;">{% trans "Да" %}</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>