{% load i18n %}
<div class="profile-header">
    {% trans "Настройки" %}
</div>
<ul class="nav nav-borders" style="--bs-nav-link-hover-color: #9292A6;">
{% if user_obj.role == "Student" or user_obj.role == "Teacher" %}
    <li class="nav-item" {% if page == 'profile-detail' %} style="border-bottom: 3px solid #33ccff;" {% endif %}>
        <a {% if page == 'profile-detail' %}class="nav-color-active nav-color active" aria-current="page"
           {% else %}class="nav-color"
           href="{% url 'profile-detail' user_obj.pk %}"{% endif %}>{% trans "Профиль" %}</a>
    </li>
{% endif %}
    <li class="nav-item" {% if page == 'profile-update' %} style="border-bottom: 3px solid #33ccff" {% endif %}>
        <a {% if page == 'profile-update' %}class="nav-color-active nav-color active" aria-current="page"
           {% else %}class="nav-color"
           href="{% url 'profile-update' user_obj.pk %}"{% endif %}>{% trans "Настройки" %}</a>
    </li>
</ul>
<hr style="margin-top: 0; color: #b2b2c3">